{% extends "main.html" %}
<!--  -->

{% block content %}

<div class="layout__box">
  <div class="layout__boxHeader" style="justify-content: center">
    <div class="layout__boxTitle">
      <h3>Forgotten your password?</h3>
    </div>
  </div>
  <div class="layout__body">
    <h2 class="auth__tagline">
      Enter your email address to obtain a new password.
    </h2>
    <form action="." method="post">
      {% csrf_token %}
      <div class="form__group">
        <input
          id="username"
          name="email"
          type="text"
          placeholder="enter email here"
        />
      </div>

      <center>
        <button class="btn btn--main" type="submit">Send Email</button>
      </center>
    </form>
  </div>
</div>
{% endblock %}
