{% extends 'main.html' %} {% block content %}
<!--  -->
<style>

  ul {
    padding: 1.3rem 0.5rem;
    list-style: none;
  }
</style>
{% if validlink %}

<!--  -->
<div class="layout__box">
  <div class="layout__boxHeader" style="justify-content: center">
    <div class="layout__boxTitle">
      <h3>Reset your password</h3>
    </div>
  </div>
  <!--  -->
  <div class="layout__body">
  <form action="." method="post">
    <!-- {{ form.as_p }}  -->
   
    <form class="form" method="post" action=".">
      {% csrf_token %}
      <!--  -->
      <span class="helptext">
      <ul>
        <li>
          Your password can’t be too similar to your other personal information.
        </li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
      </ul>
      </span>
      

      <div class="form__group ">
        <label for="id_new_password1">New password:</label>
        <input
          type="password"
          name="new_password1"
          autocomplete="new-password"
          required=""
          id="id_new_password1"
        />
        
      </div>
      
      <!--  -->
      <div class="form__group">
        <label for="id_new_password2">New password confirmation:</label>
        <input
          type="password"
          name="new_password2"
          autocomplete="new-password"
          required=""
          id="id_new_password2"
        />
      </div>

      <button class="btn btn--main" type="submit">Change Password</button>
    </form>
</div>
    <!-- <p>
      <input class="btn btn--main" type="submit" value="Change my password" />
    </p> -->
  </form>
</div>
<!--  -->
{% else %}
<div class="reset__msg">
  <h1>
    The password reset link was invalid, possibly because it has already been
    used. Please request a new password reset.
  </h1>
</div>
{% endif %} {% endblock %}



